{% extends "_base.html" %}
{% block content %}

<h1>Welcome to FlaskTaskr.</h1>
<h3>Please register to access the task list.</h3>
<form class="register-form" method="POST" action="{{ url_for('users.register')}}" role="form">
	{{ form.csrf_token }}

	<div class="form-group">
	    {{ form.name.label }}
		{{ form.name(class="form-control", placeholder="name")}}
		{% if form.name.errors %}
		<span class="error">
			{% for error in form.name.errors %}
			{{ error }}
			{% endfor %}
		</span>
		{% endif %}
	</div>

	<div class="form-group"> 
	    {{ form.email.label }}
		{{ form.email(class="form-control", placeholder="email@example.com")}}
		{% if form.email.errors %}
		<span class="error">
			{% for error in form.email.errors %}
			{{ error }}
			{% endfor %}
		</span>
		{% endif %}
	</div>

	<div class="form-group">
	    {{ form.password.label }}
		{{ form.password(class="form-control", placeholder="Password")}}
		{% if form.password.errors %}
		<span class="error">
		{% for error in form.password.errors %}
			{{ error }}
			{% endfor %}
		</span>
		{% endif %}
	</div>

	<div class="form-group">
	    {{ form.confirm.label }}
		{{ form.confirm(class="form-control", placeholder="Password(Again)")}}
		{% if form.confirm.errors %}
		<span class="error">
			{% for error in form.confirm.errors %}
			{{ error }}
			{% endfor %}
		</span>
		{% endif %}
	</div>
	<button class="btn btn-sm btn-success" type="submit">Register</button>
	<br>
	<p><em>Already Registered?</em> Click <a href="/">here</a> to login.</p>

</form>
{% endblock %}