body {
	padding: 60px;
	background: #fff;
}
.footer {
	padding-top: 30px;
}
.error{
	color: red;
	font-size: .8em;
}

/* Custom css for bootstrap forms */
.form-control{
	width: 300px;
}

.register-form .btn-success{
	width: 300px;
}
.form-signin .btn-success{
	width: 300px;
}


.open .complete{
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
}
.open td, .complete td, .open th, .complete th{
	font-size: 1em;
	border: 1px solid #fff;
	padding: 3px 7px 2px 7px;
}
.open th, .complete th{
	font-size: 1.1em;
	text-align: left;
	padding: 7px;
	background-color: #505050;
	color: #fff;
}

.open tr:nth-child(2n+2), .complete tr:nth-child(2n+2) {
	color: #000000;
	background-color: #C8C8C8;
}

.open-t, .closed-t{
	color: #fff;
	background: #505050;
	width: 200px;
}